In [1]:
import pandas as pd

- **Carga de Datasets**

In [25]:
df_games= pd.read_csv('DataSet_tranformados/games.csv',delimiter = ',',encoding = "utf-8")
df_games.head(10)

         genres                game_name  game_id  release_year
0        Action      Lost Summoner Kitty   761140          2018
1        Casual      Lost Summoner Kitty   761140          2018
2         Indie      Lost Summoner Kitty   761140          2018
3    Simulation      Lost Summoner Kitty   761140          2018
4      Strategy      Lost Summoner Kitty   761140          2018
5  Free to Play                Ironbound   643980          2018
6         Indie                Ironbound   643980          2018
7           RPG                Ironbound   643980          2018
8      Strategy                Ironbound   643980          2018
9        Casual  Real Pool 3D - Poolians   670290          2017

In [26]:
df_reviews= pd.read_csv('DataSet_tranformados/reviews.csv',delimiter = ',',encoding = "utf-8")
df_reviews.head()

             user_id  year  game_id  recommend  sentiment_analysis
0  76561197970982479  2011     1250       True                   2
1  76561197970982479  2011    22200       True                   1
2  76561197970982479  2011    43110       True                   2
3            js41637  2014   251610       True                   2
4            js41637  2013   227300       True                   2

In [27]:
df_items= pd.read_parquet('DataSet_tranformados/items.parquet')
df_items.head()

             user_id  game_id                  game_name  playtime_forever
0  76561197970982479       10             Counter-Strike                 6
1  76561197970982479       20      Team Fortress Classic                 0
2  76561197970982479       30              Day of Defeat                 7
3  76561197970982479       40         Deathmatch Classic                 0
4  76561197970982479       50  Half-Life: Opposing Force                 0

In [6]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   game_id           int32
 2   game_name         object
 3   playtime_forever  int64
dtypes: int32(1), int64(1), object(2)
memory usage: 137.6+ MB

In [75]:
#df= df_games[df_games['genres'].notna()]
#df['genres2']= df['genres'].apply(ast.literal_eval)

In [5]:
def PlayTimeGenre(genero: str):
    df_filtro_genero= df_games[df_games['genres'] == genero]
    df_union = pd.merge(df_filtro_genero, df_items, on='game_name', how= 'inner')
    df_grupo_por_genero_y_año = df_union.groupby(by=['genres','release_year'], as_index=False)['playtime_forever'].sum().sort_values(by='playtime_forever', ascending=False)
    year_max_horas= int(df_grupo_por_genero_y_año.iloc[0,1])
    result= [{'Año de lanzamiento con más horas jugadas para Género {}'.format(genero): year_max_horas}]
    return result

In [20]:
PlayTimeGenre('Action')

[{'Año de lanzamiento con más horas jugadas para Género Action': 2012}]

In [6]:
def UserForGenre(genero: str):
    # Se agrupa el dataset "df_Items" por Usuario y juegos y se sumo el tiempo de juef
    df_items_por_user = df_items.groupby(by=['user_id','game_name'], as_index=False)['playtime_forever'].sum() 
    # Se filtra el dataset "df_games" por el genero requerido
    df_filtro_genero= df_games[df_games['genres'] == genero]
    # Se hace una union de los juegos fltrados por el genero requerido y el dataset de items ya filtrado
    df_union = pd.merge(df_filtro_genero, df_items_por_user, on='game_name', how= 'inner')
    # se suman las horas jugadas de cada usuario por año
    df_grupo_por_user_y_año = df_union.groupby(by=['user_id','release_year'], as_index=False)['playtime_forever'].sum().sort_values(by='playtime_forever', ascending=False)
    # Se suman las horas jugadas de todos los años por usuario
    df_user_max= df_grupo_por_user_y_año.groupby(by=['user_id'], as_index=False)['playtime_forever'].sum().sort_values(by='playtime_forever', ascending=False)
    user_max_horas= df_user_max.iloc[0,0]   # Se toma el user_id con mas horas jugadas 
    df_horas_jugadas= df_grupo_por_user_y_año[df_grupo_por_user_y_año['user_id']==user_max_horas]   #se realiza un filtro por el usuario con mas horas jugadas
    df_horas_jugadas.sort_values(by='playtime_forever', ascending=False)    #se ordena por tiempo de juego
    
    list_horas_xyear= [{'Año ': year, 'Horas: ': horas} for year, horas in zip(df_horas_jugadas['release_year'], df_horas_jugadas['playtime_forever'])]
    
    result= {'Usuario con mas horas jugadas para el Genero {}'.format(genero): user_max_horas,
            'Horas Jugadas':list_horas_xyear}
    
    return result

In [10]:
UserForGenre('Strategy')

{'Usuario con mas horas jugadas para el Genero Strategy': 'shinomegami',
 'Horas Jugadas': [{'Año ': 2003, 'Horas: ': 531614},
  {'Año ': 2013, 'Horas: ': 139630},
  {'Año ': 2014, 'Horas: ': 124901},
  {'Año ': 2012, 'Horas: ': 79098},
  {'Año ': 2007, 'Horas: ': 68627},
  {'Año ': 1993, 'Horas: ': 22001},
  {'Año ': 0, 'Horas: ': 18783},
  {'Año ': 2010, 'Horas: ': 13733},
  {'Año ': 2009, 'Horas: ': 8434},
  {'Año ': 2011, 'Horas: ': 6882},
  {'Año ': 2015, 'Horas: ': 3270},
  {'Año ': 2002, 'Horas: ': 2434},
  {'Año ': 2016, 'Horas: ': 1379},
  {'Año ': 2008, 'Horas: ': 356},
  {'Año ': 2004, 'Horas: ': 76},
  {'Año ': 1999, 'Horas: ': 14},
  {'Año ': 2001, 'Horas: ': 2},
  {'Año ': 2006, 'Horas: ': 0},
  {'Año ': 1997, 'Horas: ': 0},
  {'Año ': 2005, 'Horas: ': 0},
  {'Año ': 1998, 'Horas: ': 0},
  {'Año ': 2017, 'Horas: ': 0}]}

In [7]:
def UsersRecommend(año: int):    
    df_filtred_rec_sent_year= df_reviews[(df_reviews['recommend']== True) & (df_reviews['sentiment_analysis']> 0) & (df_reviews['year'] == año)]
    df_grupo_xgames= df_filtred_rec_sent_year.groupby('game_id', as_index=False).size().sort_values(by='size', ascending=False)
    df_games_sin_duplicados = df_games.drop_duplicates(subset=['game_id'])  # se crea una df temporal sin id_games duplicados
    df_union_con_items= pd.merge(df_grupo_xgames, df_games_sin_duplicados, on='game_id', how= 'inner')
    result= {'Puesto {}'.format(pos +1): game for pos, game in zip(range(3),df_union_con_items['game_name'].iloc[:3])}
    return result

In [12]:
UsersRecommend(2010)

{'Puesto 1': 'Team Fortress 2',
 'Puesto 2': 'Killing Floor',
 'Puesto 3': 'Alien Swarm'}

#########################################################################################################

In [50]:
def Generar_df_funcion1():
    df_union_games_items = pd.merge(df_games, df_items, on='game_name', how= 'inner')
    df_grupo_por_genero_y_año = df_union_games_items.groupby(by=['genres','release_year'], as_index=False)['playtime_forever'].sum().sort_values(by='playtime_forever', ascending=False)
    df_grupo_por_genero_y_año.to_csv('DataSet_tranformados/funcion1.csv', index=False)    
    return

In [49]:
Generar_df_funcion1()

In [ ]:
def UserForGenre(genero: str):
    # Se agrupa el dataset "df_Items" por Usuario y juegos y se sumo el tiempo de juef
    df_items_por_user = df_items.groupby(by=['user_id','game_name'], as_index=False)['playtime_forever'].sum() 
    # Se filtra el dataset "df_games" por el genero requerido
    df_filtro_genero= df_games[df_games['genres'] == genero]
    # Se hace una union de los juegos fltrados por el genero requerido y el dataset de items ya filtrado
    df_union = pd.merge(df_filtro_genero, df_items_por_user, on='game_name', how= 'inner')
    # se suman las horas jugadas de cada usuario por año
    df_grupo_por_user_y_año = df_union.groupby(by=['user_id','release_year'], as_index=False)['playtime_forever'].sum().sort_values(by='playtime_forever', ascending=False)
    # Se suman las horas jugadas de todos los años por usuario
    df_user_max= df_grupo_por_user_y_año.groupby(by=['user_id'], as_index=False)['playtime_forever'].sum().sort_values(by='playtime_forever', ascending=False)
    user_max_horas= df_user_max.iloc[0,0]   # Se toma el user_id con mas horas jugadas 
    df_horas_jugadas= df_grupo_por_user_y_año[df_grupo_por_user_y_año['user_id']==user_max_horas]   #se realiza un filtro por el usuario con mas horas jugadas
    df_horas_jugadas.sort_values(by='playtime_forever', ascending=False)    #se ordena por tiempo de juego
    
    list_horas_xyear= [{'Año ': year, 'Horas: ': horas} for year, horas in zip(df_horas_jugadas['release_year'], df_horas_jugadas['playtime_forever'])]
    
    result= {'Usuario con mas horas jugadas para el Genero {}'.format(genero): user_max_horas,
            'Horas Jugadas':list_horas_xyear}
    
    return result